/* You can add global styles to this file, and also import other style files */
.wall{
    background-color: rgba(12, 12, 12, 1);
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
